---
import SkillCard from "../components/SkillCard.astro";

const frontendSkills = [
  "Angular",
  "React",
  "HTML",
  "CSS",
  "JavaScript",
  "TypeScript",
  "Tailwind",
  "Bootstrap",
].map((name) => {
  const icon = `/src/assets/skills/${name}.svg`;
  return { name, icon };
});

const backendSkills = [
  "NestJS",
  "Node",
  "Java",
  "PHP",
  "MySQL",
  "PostgreSQL",
  "MongoDB",
  "Firebase",
].map((name) => {
  const icon = `/src/assets/skills/${name}.svg`;
  return { name, icon };
});

const mobileAndOthersSkills = [
  "Android",
  "Kotlin",
  "Git",
  "Github",
  "Inkscape",
  "Canva",
].map((name) => {
  const icon = `/src/assets/skills/${name}.svg`;
  return { name, icon };
});
---

<article class="flex flex-col items-center justify-center gap-10">
  <div class="flex flex-col items-center space-y-2">
    <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl text-gray-900">
      Mis Habilidades
    </h2>
    <p
      class="max-w-[400px] md:max-w-[600px] text-gray-500 text-center md:text-lg font-medium"
    >
      Una vista de mis competencias técnicas, organizadas para una rápida
      identificación de valor.
    </p>
  </div>

  <div class="flex justify-center flex-wrap gap-10">
    <SkillCard
      title="Desarrollo Frontend"
      icon="/src/assets/skills/Frontend.svg"
      skills={frontendSkills}
    />

    <SkillCard
      title="Backend - Bases de Datos"
      icon="/src/assets/skills/Backend.svg"
      skills={backendSkills}
    />

    <SkillCard
      title="Multiplataforma - Otros"
      icon="/src/assets/skills/multi-platform.svg"
      skills={mobileAndOthersSkills}
    />
  </div>
</article>
